@import "../../styles/variable.scss";

.main-container {
  background: $white-bg-color;
  padding-top: 4%;

  .app-icon {
    width: auto;
    height: 70px;
    margin: 0 auto;
    display: block;
  }
  .step-class {
    padding-top: 40px;
    width: 60%;
    margin: 0 auto;

    .ant-steps-item-process {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          background: $primary-purple-color;
          border-color: $primary-purple-color;
          .ant-steps-icon {
            font-size: 0.9rem;
            top: -2px;

            .circle {
              height: 34px;
              width: 34px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: $primary-purple-color;
              font-size: 1.4rem;
              margin: 38px 0;
              color: $white-color;
            }
          }
        }
      }
    }
  }
  main {
    padding-top: 10%;
    display: block;
  }
}
