//Background Color
$white-bg-color: #fff;
$black-bg-color: #000;
$lightest-blue-bg-color: #f8f9fc;

//text colors
$white-text-color: #fff;
$black-text-color: #000;
$dark-text-black-color: #151b28;
$label-text-subtitle-gray: #67748d;
$label-text-gray-color: #818897;
$placeholder-gray-color: #c0c6d4;

// normal colors
$white-color: #fff;
$black-color: #000;

// main color
$primary-purple-color: #664de5;
